.headersec2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}
.textheader {
    display: flex;
    align-items: baseline;
    gap: 1vh;
}
@media (max-width: 768px) {
    .headersec2 {
        width: 90%;
        margin: auto;
    }
}