.collect {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2vh;
    width: 75%;
    border-bottom: 1px solid #ecec;
}
.collect div {
    line-height: 1;
    padding: 2vh 0vh;
}
.collect div span {
    font-weight: 600;
    font-size: 16px;
}

.collect div p {
    font-size: 18px;
    color: gray;
}
.collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2vh;
    place-items: center;
}
.viewbtn {
    font-size: 18px;
    background-color: #AC1313;
    color: white;
    padding: 3vh 5vh;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: flex;
    margin: auto; 
    margin-top: 3vh;  
}