.sec4 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 5vh;
    padding: 7vh 0;
}
@media (max-width:768px) {
    .sec4 {
        width: 80%;
        margin: auto;
        padding: 0;
        margin: 0;
    }
}